<p>You can query the Athanasius Kircher Correspondence Collection two different ways with this application:></p>
<p>1. You can use submit a text-based query in the box above for either all of the metadata, titles, names, and places;</p>
<p>2. You can limit your search using the facets on the left-hand side of the screen.</p>

<p>If you have any questions at all, please feel free to contact either Glen Worthey (<a href="mailto:gworthey@stanford.edu">gworthey@stanford.edu</a>) or Jacqueline Hettel (<a href="mailto:hettelj@stanford.edu">hettelj@stanford.edu</a>).</p>